*{
    margin:0;
    padding:0;
}
h2{
    text-align: center;
}
.card{
    margin: 0 auto;
    max-width: 350px;
    text-align: center;
    margin-top: 10px;
    box-shadow: 0 4px 8px 0 black;
    transition: 0.3s;
    font-size: 0;
}
.card:hover{
    box-shadow: 0 16px 32px 0 black;
}
.calc-head #result{
    width: 340px;
    height:80px;
    font-size: 40px;
    font-weight: bold;
    text-align: right;
    padding: 0 5px;
    letter-spacing: 2px;
}
.btn{
    width: 87px;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    background-color:darkslategray;
    color: white;
 
}
.btn:hover{
    background-color: bisque;
}

